@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");
@import "tailwindcss";

@theme {
  --font-monoton: "Monoton", cursive, system-ui;
  --font-quicksand: "Quicksand", sans-serif, system-ui;
}
